Django==5.1.2
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.2
idna==3.10
Jinja2==3.1.4
langcodes==3.4.1
language_data==1.2.0
llama_models==0.0.47
llama_stack==0.0.47
pandas==2.2.3
psycopg2-binary==2.9.10
python-decouple==3.8
requests==2.32.3